#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hhkb_ctrl: behavior_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        // Layer 0: Windows (デフォルト)
        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T         &kp Y &kp U &kp I &kp O &kp BACKSPACE
                &hhkb_ctrl LCTRL A &kp S &kp D &kp F &kp G         &kp TAB &kp H &kp J &kp K &kp L &kp ENTER
                &kp LSFT &kp Z &kp X &kp C &kp V &kp B         &kp COMMA &kp PERIOD &kp N &kp M &kp UP &kp RSFT
                &mo 4 &kp SPACE &kp ENTER &mo 3         &kp LANG2 &trans &kp LANG1 &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

        // Layer 1: macOS用
        mac_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T         &kp Y &kp U &kp I &kp O &kp BACKSPACE
                &hhkb_ctrl LCTRL A &kp S &kp D &kp F &kp G         &kp TAB &kp H &kp J &kp K &kp L &kp ENTER
                &kp LSFT &kp Z &kp X &kp C &kp V &kp B         &kp COMMA &kp PERIOD &kp N &kp M &kp LGUI &kp RSFT
                &mo 4 &kp SPACE &kp ENTER &mo 3         &kp LANG2 &trans &kp LANG1 &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

        // Layer 2: iPad用
        ipad_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T         &kp Y &kp U &kp I &kp O &kp BACKSPACE
                &kp A &kp S &kp D &kp F &kp G         &kp TAB &kp H &kp J &kp K &kp L &kp ENTER
                &kp LSFT &kp Z &kp X &kp C &kp V &kp B         &kp COMMA &kp PERIOD &kp N &kp M &kp LANG1 &kp RSFT
                &trans &kp SPACE &kp ENTER &trans         &kp LANG2 &trans &kp LANG1 &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

        // Layer 3: ナビゲーション/数字
        nav_num_layer {
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5         &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
                &kp LGUI &kp LALT &kp TAB &kp ESC &kp DEL         &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp ENTER
                &kp LSFT &kp CUT &kp COPY &kp PSTE &kp CAPS         &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp RSFT
                &trans &kp SPACE &kp ENTER &trans         &kp PG_UP &kp HOME &kp PG_DN &kp END &trans &trans
            >;
        };

        // Layer 4: 記号/プログラミング
        symbol_layer {
            bindings = <
                &kp EXCL &kp AT &kp HASH &kp DLR &kp PERC         &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
                &kp TILDE &kp GRAVE &kp LCBR &kp LBRC &kp LT         &kp EQUAL &kp PLUS &kp MINUS &kp UNDER &kp PIPE
                &kp LSFT &kp BSLH &kp RCBR &kp RBRC &kp GT         &kp COLON &kp DQT &kp QUOTE &kp SEMI &kp QMARK &kp RSFT
                &trans &kp SPACE &kp ENTER &trans         &kp LANG2 &trans &kp LANG1 &kp BSLH &kp ASTR &kp SLASH
            >;
        };
    };
};
